body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div { margin: 0; padding: 0; border: 0; }
body { color: #333; font-size: 12px; font-family: "Microsoft YaHei"; background-color: #e62d2d; }
ul, ol { list-style-type: none; }
select, input, img, select { vertical-align: middle; }
input { font-size: 12px; }
a { text-decoration: none; color: #000; }
a:hover { color: #c00; text-decoration: none; }
.clear { clear: both; }

/* 大转盘样式 */
.turnplate {
    margin: 30px;
    position: relative;
    background: url(../images/turnplate-bg.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.turnplate canvas.item {
    width: 100%;
}

.turnplate img.pointer {
    position: absolute;
    top: 23%;
    left: 34.6%;
    width: 31.5%;
    height: 42.5%;
}
